nav#mainNav.navbar.navbar-custom.navbar-fixed-top
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        |  Menu 
        i.fa.fa-bars
      a.navbar-brand.page-scroll(href='/') airNYH
    #bs-example-navbar-collapse-1.collapse.navbar-collapse    
      ul.nav.navbar-nav.navbar-right
        li.hidden
          a(href='#page-top')
      ul.nav.navbar-nav.navbar-right
        if(!currentUser)
          li
            a.page-scroll(href='/#serch') 숙소 검색
          li
            a.page-scroll(href='#', data-toggle='modal', data-target='#myLoginModal') 로그인
          li
            a.page-scroll(href='#', data-toggle='modal', data-target='#mySignUpModal') 회원가입
        else
          li
            a.page-scroll(href='/#serch') 숙소 검색
          li
            a.page-scroll(href='/host') 호스팅
          li
            a.page-scroll(href='/users/userlist') 유저리스트
          li
            a.page-scroll(href='/users/#{currentUser._id}') 프로필
          li
            a.page-scroll(href='/signout') 로그아웃


    script(src='/bower_components/agency/js/agency.js')
    link(href='/bower_components/agency/css/agency.css', rel='stylesheet')
