// Modal
#mySignUpModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title 회원가입
      .modal-body
        form(id='mysignform', name='mysignform', action='/users', method='POST')
            .form-group.has-feedback(id='name_group')
                label.control-label(for='name') 이름
                input.form-control(type='text', id='name', name='name', placeholder='Your name', onblur='validate_name()')
                span.glyphicon.form-control-feedback(id='icon_in_name' aria-hidden='true')
            .form-group.has-feedback(id='email_group')
                label.control-label(for='email') 이메일
                input.form-control(type='email', id='email', name='email', placeholder='Email', onblur='validate_email()')
                span.glyphicon.form-control-feedback(id='icon_in_email' aria-hidden='true')
            .form-group.has-feedback(id='password_group')
                label.control-label(for='password') 비밀번호
                input.form-control(type='password', id='password', name='password', placeholder='Password', onblur='validate_password()')
                span.glyphicon.form-control-feedback(id='icon_in_password' aria-hidden='true')
            .form-group.has-feedback(id='confirmation_group')
                label.control-label(for='password_confirmation') 비밀번호 확인
                input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='Password', onblur='validate_confirmation()')
                span.glyphicon.form-control-feedback(id='icon_in_confirmation' aria-hidden='true')
      .modal-footer
            div.form-actions
                button.btn.btn-default(type='button', data-dismiss='modal') 닫기
                button.btn.btn-primary.form-actions(id='submit_button', form='mysignform', type='submit') 완료     


script.
    function change_to_err(name1, name2){
        $(name1).removeClass("has-success");
        $(name2).removeClass("glyphicon-ok");
        $(name1).addClass("has-error");
        $(name2).addClass("glyphicon-warning-sign");
    }
    function change_to_success(name1, name2){
        $(name1).removeClass("has-error");
        $(name2).removeClass("glyphicon-warning-sign");
        $(name1).addClass("has-success");
        $(name2).addClass("glyphicon-ok");
    }
    function validate_name() {
        var name = document.forms['mysignform']['name'].value;
        if(!name){
            change_to_err(name_group,icon_in_name);
        } else {
            change_to_success(name_group,icon_in_name);
        }
    }
    function validate_email(){
        var email = document.forms['mysignform']['email'].value;
        if(!email){
            change_to_err(email_group,icon_in_email);
        } else {
            change_to_success(email_group,icon_in_email);
        }
    }
    function validate_password(){
        var password = document.forms['mysignform']['password'].value;
        if(!password || password.length < 6){
            change_to_err(password_group,icon_in_password);
        } else {
            change_to_success(password_group,icon_in_password);
        }
    }
    function validate_confirmation(){
        var password_confirmation = document.forms['mysignform']['password_confirmation'].value;
        if(password_confirmation != document.forms['mysignform']['password'].value || !password_confirmation){
            change_to_err(confirmation_group,icon_in_confirmation);
            pwonfirm_check = false;
        } else {
            change_to_success(confirmation_group,icon_in_confirmation);
            pwonfirm_check = true;
        }
    }

