extends ../layout

block main
    .show-page

    .container
        .row
            .col-xs-12.col-md-8
                | The Herce Property is located on the coast of Llucmajor in Majorca and its fine architectural build offers a truely unique experience. A private infinity pool and huge windows orientated to the south allow for unparalleled sunset views every evening.
                | The Herce Property is located on the coast of Llucmajor in Majorca and its fine architectural build offers a truely unique experience. A private infinity pool and huge windows orientated to the south allow for unparalleled sunset views every evening.

                |The property accommodates up to 8 people, with 4 double bedrooms en suite, individual air conditioning in every room, a jacuzzi inside and out, swimming pool (NOT HEATED), lounge, living room, dinning room, kitchen, guest toilet, parking for two cars, a fireplace, underfloor |||||heating, garden, barbecue, gym, sauna and library.
                |The Herce Property is located on the coast of Llucmajor in Majorca; built on top of a cliff this house offers an unparalleled experience. With panoramic views of the coast and only blue skies above, guests will feel almost like they are floating on a cloud. Its huge windows are oriented to the south meaning beautiful sunsets every evening. 
                |Its minimalist design guarantees for a comfortable and sophisticated stay because simplicity combined with good taste can go far. It was designed with privacy and symmetry in mind.
                |The neighbourhood is quiet, safe and distinguished. You have 3 golf courses near by and the Hilton's restaurant Arxiduc within a 10 minute drive. The property is a 20 minute drive from Palma and 10 from the airport.

                |The 2 main bedrooms share an en-suite bathroom with a jacuzzi, sound system and stunning sea views. Both main bedrooms each have a generous sized balcony. The 3rd bedroom en suite has sea views and the 4th bedroom en suite has views of the private garden. All bedrooms are supplied with high quality mattress, towels and bed linen.
                |The living room has a 42' TV with satellite (channels of all over Europe) , DVD, a selection of movies, home theatre, a Bose sound system and more then 200 cd's, 2 sofas and a table. The lounge area is furnished with 4 comfortable arm chairs, 3 wooden coffee tables and a fireplace perfect for cosying up on those cold winter evenings. The library is kitted out with an array of books for your pleasure and a desk for those who are taking their work on vacation. 
                |The dinning room has a table and chairs seating up to 10 guests and fine utensils are at your disposal to set the table.
                |The library, living room, lounge and dinning room share the same space but are subtlety separated composing different atmospheres. Besides de 4th ensuite bedroom, the entire house offers exceptional sea views, including the kitchen.
                |By opening the windows throughout the house the sea's breeze acclimatizes the space for heavenly fresh air in the hot summer months. The electronic blinds can be regulated allowing you to choose the amount of light and air passing through. Likewise, a fireplace and underfloor heating, creates the perfect environment for winter accommodation as well.
                |The kitchen comes fully equipped with fine cutlery, plates, glass ware, crockery, pots, pans and other essential cooking and dining utensils. You also have a nespresso coffee machine, microwave, toaster, oven, induction hob, steam cooker, washing machine, tumble dryer, iron, and fridge/freezer, making self-catering a breeze. There is a utility room accessible through the kitchen to store food and wine. 
                |The infinity swimming pool can be described in two parts. First: an upper level pool and jacuzzi. Second: a T shaped pool surrounded by a wooden deck with sun loungers. The water cascades from the upper to the lower level in a serene waterfall flow.
                |In the neighbourhood you will find S'aigua Blava Fitness and Padel where you can enter paying a fee. The Golf Course Maioris has 18 holes and costs 82€, the buggy for 18 holes 30€ and the trolley 5€. Maioris Golf Course has a fine dining restaurant with views of the mountains. In the Hilton Hotel you can relax in an hydrothermal water circuit or try their spa for relaxing treatments. In a short walking distance guests can reach the supermarket, pharmacy, cafés, fine restaurants, hairdresser, shops and a bus stop.
                |Once you book Herce Property we will provide you with the information you need to take the most of your stay. A weekly cleaning fee is included and extra services, such as breakfast and meals can be arranged.

                |Our team is available on Airbnb App answering messages or phone calls from 7am to 9pm everyday. We will attend to the apartment if anybody needs assistance with anything. One of us will be waiting for you in front of the building at a previously arranged time to hand you the keys and explain details of the accommodation. We are also willing to advise you about shops, restaurants, bars, attractions, beaches etc.

                |In the neighbourhood you will find S'aigua Blava Fitness and Padel where you can enter paying a fee. The Golf Course Maioris has 18 holes and costs 82€, the buggy for 18 holes 30€ and the trolley 5€. Maioris Golf Course has a fine dining restaurant with views of the mountains. In the Hilton Hotel you can relax in an hydrothermal water circuit or try their spa for relaxing treatments. In a short walking distance guests can reach the supermarket, pharmacy, cafés, fine restaurants, hairdresser, shops and a bus stop.
                |Take a walk down to the beautiful stoney beach commonly known as The Delta where crystal waters are protected in this natural reserve and marine life flourishes. Don’t forget to take your snorkel.Once you book Herce Property we will provide you with the information you need to take the most of your stay. A weekly cleaning fee is included and extra services, such as breakfast and meals can be arranged.

                |Getting to the property from Palma airport should take around a 10 minute drive should you hire a car or take a taxi. Taxi’s run regularly and you will find a rank exiting the airport. The taxi should cost in the region of 15 to 20 euros. 
                |The property itself has private parking for 2 cars and hiring a car is advised for a more adventurous and comfortable stay given its location. 
                |From the airport if you are traveling by bus, take the number 1 into the centre of Palma to Plaza España which is the main bus and train terminal for getting routes all over the island. Take the 520 route to get to your property. The journey could take between 40 minutes to an hour. 
                |A bus stop is within walking distance of the property which can take you into Palma and other destinations. For the Palma route, grab the 520 tolleric.
            //.col-xs-6.col-md-4
            .col-xs-6.col-md-4
                #show-side-menu.affix
                    .container-fluid
                        |Getting to the property from Palma airport should take around a 10 minute drive should you hire a car or take a taxi. Taxi’s run regularly and you will find a rank exiting the airport. The taxi should cost in the region of 15 to 20 euros. 
                        |The property itself has private parking for 2 cars and hiring a car is advised for a more adventurous and comfortable stay given its location. 
                        |From the airport if you are traveling by bus, take the number 1 into the centre of Palma to Plaza España which is the main bus and train terminal for getting routes all over the island. Take the 520 route to get to your property. The journey could take between 40 minutes to an hour. 
                        |A bus stop is within walking distance of the property which can take you into Palma and other destinations. For the Palma route, grab the 520 tolleric.


    link(href='/stylesheets/show.css', rel='stylesheet')
    script.
        $(document).ready(function(){
            $('#show-side-menu').affix({offset: {top: 240} });
        });


